%ul.thumbnails
  - @hotels.each do |hotel|
    %li.span12
      %hr
      %h2.hotel_title= link_to "#{hotel.title}", hotel 
      = truncate(hotel.room_description, length: 300) 
      = link_to 'more', hotel
      %div= "rating #{hotel.avg_rating}"

%br
-if user_signed_in?
  = link_to 'New Hotel', new_hotel_path, class:'btn'