%p#notice= notice

%p
	%h1
	%b= @hotel.title
%p
	= @hotel.room_description
%p
	%b price -  
	= @hotel.price_for_room
	%b breakfast -  
	= @hotel.breakfast_included

- @hotel.assets.each do |asset|
	= image_tag(asset.photo.url(:medium)) 
- if user_signed_in?
	= render 'comments/form'
%ul
	= render @hotel.comments

- if user_signed_in?
	= link_to 'Edit', edit_hotel_path(@hotel)
	\|
	= link_to 'Back', hotels_path

