!!! XML
%html
	%head
		%title Hams
		= stylesheet_link_tag "application" 
		= javascript_include_tag "application" 
		= csrf_meta_tags
	%body
		%div.navbar.navbar
			%div.navbar-inner
				%ul.nav.nav-pills.pull-right
					- if user_signed_in?
						%li
							%span.label.label-info 
								= current_user.email
						%li
							= link_to "log out", destroy_user_session_path, method: :delete
					- else
						%li
							= link_to "login", new_user_session_path
					
		%div.container
			%div.row
				%div.span12
					= yield

				


